/* font face link */

@font-face {
  font-family: inter;
  src: url("../font/Inter/static/Inter_28pt-Regular.ttf");
}

@font-face {
  font-family: raleway;
  src: url("../font/Raleway/static/Raleway-Regular.ttf");
}

/* .container{
  max-width: 1320px;
  width: 100%;
  
} */

/* ========================================================================================= banner part */

/* .banner {
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 127px);
  position: relative;
} */

.banner .container {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.banner-content {
  padding: 20px 0;
}
.banner-content{
  position: absolute;
  top: 30px;
  left: 1%;
  z-index: 5;
  text-align: start;
  color: #000000 !important;
}

.banner-content h1 {
  max-width: 555px;
  width: 100%;
}

.banner-content p {
  font-family: inter;
  font-weight: bold;
  max-width: 600px;
  width: 100%;
  letter-spacing: 1.04px;
  margin: 30px 0 40px;
}

/* Target the individual indicator elements */
.carousel-indicators [data-bs-target] {
    
    width: 10px;
    height: 10px;

    
    border-radius: 50%;

    background-color: #ffffff;
    border: 2px solid rgb(0, 0, 0);

    opacity: 0.5; 
    
}


.carousel-indicators .active {
    opacity: 1; 
    background-color: #000000;
    border: none;
    width: 13px;
    height: 13px;
}




/* ======================================================================================= products part */
.products {
  padding: 90px 0;
}
.card {
  margin-top: 15px;
  overflow: hidden;
}
.card figure {
  background-color: #fbfbfb;
  max-width: 200px;
  width: 100%;
  height: 163px;
  /* border: 1px solid #8da35e;
  display: flex;
  align-items: center;
  justify-content: center; */
  transition: all 0.5s ease-in-out;
}
/* .card figure img{
  transition:  all 0.5s ease-in-out;

} */
.card figure:hover {
  transform: scale(1.1);
}

.card-content {
  border: 1px solid #a1be617a;
  padding: 8px 16px;
  margin-top: -8px;
  height: 95px;
}

.card-content p {
  max-width: 160px;
  width: 100%;
  font-size: 14px;
  font-family: inter;
  margin-bottom: 5px;
}

.price-cart span{
  color: #CFC7C7;
}

.product-btn {
  width: 96px;
  height: 36px;
  background-color: #a1be61;
  border-radius: 40px;
  color: white;
}
.product-btn:hover {
  background-color: #667643;
  color: white;
}

.cart-icon {
  background-color: var(--green);
  width: 34px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-icon i {
  transition: all 0.75s ease-in-out;
  text-decoration: none;
}
.cart-icon i:hover {
  transform: rotate(90deg) scale(1.3);
  color: black;
}



/* ======================================================================================= deal part */

.deal{
  background-image: url('../img/Products-page/2nd-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 410px;
}

.deal .deal-content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deal .content{
  text-align: center;
  /* margin-top: 25px; */
}
.deal .content p{
  font-family: raleway;
  max-width: 845px;
  width: 100%;
  font-size: 24px;
  margin: 40px 0;
}

















/* ========== ------------ responsive part ----------- ========= */

/* xxl - 1399px */
@media screen and (max-width: 1399px) {
  /* .banner-content {
    top: 2%;
    left: 3%;
  } */
  .banner-content {
    padding: 20px 0 5px;
  }
}

/* xl - 1199px */
@media screen and (max-width: 1199px) {
  /* banner part */
  /* .banner {
    background-color: #33333330;
    background-blend-mode: multiply;
  } 
  

  .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); 
  z-index: 1;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #000000;
  z-index: 2; 
}


   .carousel-item img{
    background-color: rgba(0, 0, 0, 0.80);
    background-blend-mode:darken ;
  } 

  */
  .banner-content h1 {
    font-size: 68px;
  }
  .banner-content p {
    max-width: 500px;
    width: 100%;
    margin-bottom: 10px;
  }

  /* slider part */
  .right-last {
    height: 296px;
    right: -35%;
    display: none;
  }
  .special-card-content-p {
    padding: 10px;
  }
}

/* lg - 991px */
@media screen and (max-width: 991px) {
  .col-lg-100 {
    width: 100%;
  }
  .col-lg-50 {
    width: 50%;
  }
  .col-lg-33 {
    width: 33%;
  }
  .col-lg-25 {
    width: 25%;
  }

  /* banner part */
  .banner-content h1 {
    font-size: 50px;
  }
  .banner-content p {
    font-size: 18px;
    max-width: 450px;
    width: 100%;
    margin-bottom: 25px;
  }
  /* .banner-content {
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%); 
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15); 
} */

  .right-last {
    height: 268px;
    right: -45%;
  }
  .about figure {
    margin-top: 60px;
  }

  .card-content {
    height: 115px;
    position: relative;
  }

  .card-2-content {
    margin-top: -7px;
    gap: 10px;
  }
  .card-3-content {
    gap: 10px;
  }

  .about-2 figure {
    margin-top: 100px;
  }
  .card-4-content p {
    font-size: 18px;
  }
  .card-4 figure {
    left: 21%;
  }
}

/* md - 767px */
@media screen and (max-width: 767px) {
  .col-md-100 {
    width: 100%;
  }
  .col-md-50 {
    width: 50%;
  }
  .col-md-33 {
    width: 33%;
  }
  .col-md-25 {
    width: 25%;
  }

  /* banner part */

  /* .banner-content {
  top: 55%;
  left: 35%;
}
  .banner-content h1{
    max-width: 600px;
    width: 100%;
    font-size: 48px;
  } */

  .deal-box {
    height: 320px;
    margin: 20px auto 0;
  }
  .right-last {
    height: 303px;
    right: -80%;
    display: none;
  }

  .about figure {
    margin: 0 auto 120px;
  }

  .card figure {
    max-width: 229px;
    width: 100%;
  }

  .about-2 p {
    max-width: 750px;
    width: 100%;
  }
  .about-2 figure {
    margin: 0 auto;
  }

  .review h2 {
    margin-bottom: 0px;
    text-align: center;
  }
  .card-4 {
    margin-left: 150px;
    margin-top: 100px;
  }
}

/* sd - 575px */
@media screen and (max-width: 575px) {
  .col-sd-100 {
    width: 100%;
  }
  .col-sd-50 {
    width: 50%;
  }
  .col-sd-33 {
    width: 33%;
  }
  .col-sd-25 {
    width: 25%;
  }

  /* .banner-content h1{
    font-size: 45px;
  }
  .banner-content p{
    font-size: 14px;
  }

  .card figure{
    max-width: 260px;
    width: 100%;
  } */

  .deal-box {
    height: 420px;
  }
  .deal-img {
    padding: 100px;
    margin-top: -90px;
  }
  .deal-img-2 {
    padding: 120px;
    margin-top: -170px;
  }

  .card-4 {
    margin-left: 70px;
    margin-top: 100px;
  }
  .card-4 figure {
    left: 26%;
  }
}

/* mid of sd-xs - 530px */
@media screen and (max-width: 530px) {
  .deal-box {
    height: 420px;
  }
  .deal-img {
    padding: 70px;
    margin-top: -50px;
  }
  .deal-img-2 {
    padding: 80px;
    margin-top: -130px;
  }

  .about figure {
    margin: 0 auto 230px;
  }

  .about figure::after {
    width: 50px;
    height: 50px;
    bottom: 0%;
    right: 62%;
  }

  .about-2 figure {
    margin-bottom: 100px;
  }

  .about-2 figure::after {
    width: 50px;
    height: 50px;
    bottom: 0%;
    left: 0%;
  }
}

/* xs - 320px */
@media screen and (max-width: 320px) {
  .col-xs-100 {
    width: 100%;
  }
  .col-xs-50 {
    width: 50%;
  }
  .col-xs-33 {
    width: 33%;
  }
  .col-xs-25 {
    width: 25%;
  }

  /* banner part */

  .banner-content h1 {
    font-size: 40px;
    max-width: 310px;
    width: 100%;
  }
  .banner-content p {
    font-size: 16px;
  }
  .banner-btn {
    width: 120px;
    padding: 10px 15px;
    font-size: 14px;
    margin-left: 70px;
  }

  h2 {
    font-size: 36px;
  }

  .deal-box {
    height: 420px;
  }
  .deal-img {
    padding: 0px;
    margin-top: 15px;
  }
  .deal-img-2 {
    padding: 40px;
    margin-top: -60px;
  }

  .about figure {
    margin: 0 auto 230px;
  }

  .about figure::after {
    width: 50px;
    height: 50px;
    bottom: 0%;
    right: 62%;
  }

  .about-2 figure {
    margin-bottom: 100px;
  }

  .about-2 figure::after {
    width: 50px;
    height: 50px;
    bottom: 0%;
    left: 0%;
  }

  .products h2 {
    max-width: 280px;
    width: 100%;
  }

  .card-4 {
    margin: 50px 0;
  }
  .card-4 figure {
    width: 100px;
    top: -15%;
    left: 30%;
  }
  .card-4-content {
    height: 320px;
    padding: 70px 20px 20px;
  }
}
